html, body {
	margin: 0;
	padding: 0;
}
body {
	padding: 3em;
	display: grid;
	grid-template:
		"header header" auto
		"peers content" auto
		"footer footer" auto / auto 2fr;
}
main {
	grid-area: content;
}
aside {
	grid-area: peers;
}
header {
	grid-area: header;
}
footer {
	grid-area: footer;
}
#peer-list {
	padding: 0;
}
.friend {
	display: grid;
	list-style: none;
	grid-template:
		"profile name" auto
		"profile status" auto / auto 1fr;
}
.friend > picture {
	grid-area: profile;
}
.friend > p {
	margin: 0;
}
.peer-list {
	padding: 0;
}
.friend.active {
	border-left: 3px solid rebeccapurple;
}