html, body {
	margin: 0;
	padding: 0;
}
body {
	padding: 3em;
}
main {
	margin: 0 auto;
	max-width: 65ch;
}
summary > h1, summary > h2, summary > h3, summary > h4, summary > h5, summary > h6 {
	display: inline-block;
	margin: 0;
}
details {
	border: 1px solid #333;
	padding: .5em;
	margin: .5em;
}
#log > pre {
	max-height: 15ch;
	overflow-y: auto;
	margin: 0;
	border: 1px solid;
	overflow-wrap: anywhere;
	white-space: pre-line;
}
#steps {
	padding-left: 1em;
	margin: 0;
}
#steps > li {
	list-style-type: "\23F2";
	color: #3E6990;
}
#steps > li.completed {
	list-style-type: "\2713";
	color: #85CB33;
}
#steps > li.failed {
	list-style-type: "\2715";
	color: #ED6A5A;
}