/*
font-family: 'Merriweather', serif;
font-family: 'Lora', serif;
*/

html {
	overflow-y: scroll;
	overflow-block: scroll;
}
body {
	max-width: 32em;
	padding: 1em;
	margin: 0 auto;
	/* font-family: 'Lora', serif; */
	/* text-align: justify; */
	/* text-justify: auto; */
}

:focus {
	outline-color: rebeccapurple;
	outline-width: 1px;
	outline-offset: 1em;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	/* font-family: 'Raleway', sans-serif; */
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3, h4, h5, h6 {
	font-size: 1em;
}

p {
	margin: 0;
}
p + p {
	margin-block-start: 0.5em;
}

#self-info div {
	border: 1px dashed;
	overflow-wrap: break-word;
}

summary {
	padding-block: .5em;
}